// Grid Overrides
@total-width: 100%;

body {
	font-size: 100%;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	min-width: 320px;
	position: relative;
}

.main {
	box-sizing: border-box;
	padding-bottom: 60px;
	overflow: auto;
	width: 100%;
}

section {
	box-sizing: border-box;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
	border-bottom: solid 1px @blue;
	padding: 25px 0 40px 0;
	width: 100%;
	.clearfix;

	&:last-of-type {
		border-bottom: none;
	}
}

.wrapper {
	box-sizing: border-box;
	max-width: 540px;
	margin-right: auto;
	margin-left: auto;
	overflow: visible;
	padding: 10px;
	position: relative;
	.clearfix;
}

.hidden {
	display: none;
}

header, footer {
	.wrapper {
		max-width: 768px;
	}
}
