body {
	font-family: 'Source Sans Pro', sans-serif;
}

input, textarea, select {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	color: @blue;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 10px;
}

input, label, p {
	color: @text;
}

p {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;

	&.message {
		color: @red;
		display: table-cell;
		font-size: 14px;
		font-style: italic;
		margin-bottom: 0px;
		padding-right: 5px;
		position: absolute;
		vertical-align: middle;
		bottom: 20px;
		width: ~"calc(100% - 280px)";
	}
}

a {
	color: @blue;
	text-decoration: none;
	.transition(all 0.35s);
}