body {
	font-family: arial, helvetica, sans-serif;
}

h1 {
	color: @blue;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
}

input, label, p {
	color: @text;
}

p {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;

	&:hover {
		// color: lighten(10%);
	}
}