form {
	.clearfix;

	label {
		display: block;
		line-height: 26px;
	}

	input, select {
		border: solid 1px @text;
		box-sizing: border-box;
		display: block;
		margin-bottom: 15px;
		padding: 5px;
	}

	input {
		width: 100%;
	}

	input[type="submit"]{
		background-color: @blue;
		// border-radius: 5px;
		border: none;
		color: @white;
		float: right;
		font-weight: bold;
		padding: 5px 15px;
		width: auto;

		&:hover, &:active {
			background-color: lighten(@blue, 10%);
		}
	}

	div.inline {
		.clearfix;
		margin-bottom: 15px;
		overflow: visible;
		position: relative;

		input, select, .dk-select {
			margin-bottom: 0;
		}

		input[value="listen"] {
			position: absolute;
			float: none;
			top: 0;
			right: 0;
		}

		input[type="url"] {
			padding-right: 29%;
		}

		input[type="submit"]{
			float: right;

			&.overlay {
				position: absolute;
				float: none;
				top: 0;
				right: 0;
				padding: 6px 15px;
			}
		}

		span.column {
			display: block;
			float: left;
			margin-right: 2%;
			position: relative;
			overflow: visible;
			width: 48%;

			&:nth-of-type(even) {
				margin-left: 2%;
				margin-right: 0%;

				.dk-select {
					float: right;
				}
			}

			.dk-select {
				width: 100%;
			}

			.am-pm {
				.dk-selected {
					background-color: @blue;
					color: @white;
					text-align: center;
					padding: 0 3px;
				}
				.dk-selected:after, .dk-selected:before {
					content: none;
				}
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 35px;
				z-index: 10;
			}

			select.am-pm {
				display: none;
			}
		}
	}
}