form {
	.clearfix;

	label {
		display: block;
		line-height: 26px;
	}

	input, select {
		border: solid 1px @text;
		box-sizing: border-box;
		display: block;
		margin-bottom: 15px;
		padding: 5px;
	}

	select {
		max-width: 100%;
		
		&.block {
			width: 100%;
		}
	}

	input {
		-webkit-appearance: none;
		width: 100%;
	}

	input[type="button"], input[type="submit"]{
		// border-radius: 5px;
		float: right;
		font-weight: bold;
		padding: 5px 15px;
		width: auto;

		&.overlay {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	input[type="button"] {
		background-color: @white;
		border: solid 1px @text;
		color: lighten(@text, 25%);

		&:hover, &:active {
			color: @text;
		}
	}

	input[type="submit"]{
		background-color: @blue;
		border: solid 1px @blue;
		color: @white;
		
		&:hover, &:active {
			background-color: lighten(@blue, 10%);
		}
	}

	div.row {
		.clearfix;
		margin-bottom: 15px;
		overflow: visible;
		position: relative;

		input, select, .dk-select {
			margin-bottom: 0;
		}

		input[type="url"] {
			padding-right: 88px;
		}

		input[type="submit"]{
			float: right;
		}

		div.column {
			display: block;
			float: left;
			margin-right: 2%;
			position: relative;
			overflow: visible;
			width: 48%;

			&:nth-of-type(even) {
				margin-left: 2%;
				margin-right: 0%;

				.onoffswitch {
					float: right;
				}
				.dk-select {
					float: right;
				}
			}

			.dk-select {
				width: 100%;
			}

			// .am-pm {
			// 	.dk-selected {
			// 		background-color: @blue;
			// 		color: @white;
			// 		text-align: center;
			// 		padding: 0 3px;
			// 	}
			// 	.dk-selected:after, .dk-selected:before {
			// 		content: none;
			// 	}
			// 	display: block;
			// 	position: absolute;
			// 	bottom: 0;
			// 	right: 0;
			// 	width: 35px;
			// 	z-index: 10;
			// }

			// select.am-pm {
			// 	display: none;
			// }
		}
	}
}